<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>

</head>
<body>
    <form id="form" action="/submit" method="post">
        <label>select a item</label>
        <select>
            <option>wheat flour</option>
            <option>rice</option>
            <option>oil</option>
            <option>thoor daal</option>
            <option>maida flour</option>
        </select>
        <input type="number" id="products">
        <span>kgs</span>
        <input type="submit" id="submit">
    </form>
    <script>
        const form = document.querySelector('form')
        form.addEventListener('submit',(){

        });
       

    </script>
    
</body>
</html>