<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../content/signup.css">
    <title>Signup</title>
</head>
<body style="position: relative; text-align: center;">
    <div id="form-box" style="display: flex; height: 700px; width: 500px; background-color: rgba(202, 202, 202, 0.843); border-style: solid; text-align: center; position: relative; border-radius: 10%;">

     <form>
        <h3 style="text-align: center; position: relative;">Signup/Login</h3>
        <label>Username:   </label>
        <input type="text" id="Username" placeholder="Username"><br><br>
        <label>Email:   </label>
        <input type="email" id="email" placeholder="email"><br><br>
        <label>mobile number: </label>
        <input type="tel" id="phone" maxlength="10" placeholder="enter your mobile number"><br><br>
        <label>verify:</label>
        <input type="tel" id="otp" min="1000" max="9999" maxlength="4" placeholder="enter otp" style="width:50px;">
        <input type="submit" value="verify" style="width: fit-content;"><br><br>
        <div style="text-align: center;">
            <input type="submit" value="signup">
        <input type="submit" value="login">
        </div>
        
    
     </form>   

    </div>
    
</body>
</html>